@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: Anon;
  src: url("./assets/fonts/AnonymousPro-Regular.ttf");
}

@theme {
  --color-text: #0b0604;
  --color-background: #f9f1ec;
  --color-primary: #fa802e;
  --color-secondary: #686963;
  --color-accent: #d28f74;

  --shadow-sm: 2px 2px 0px 0px #000000;
  --shadow-md: 4px 4px 0px 2px #000000;
  --shadow-lg: 6px 6px 0px 2px #000000;

  --text-shadow-sm: 1px 1px 0px #000000;
  --text-shadow-md: 2px 2px 0px #000000;
  --text-shadow-lg: 3px 3px 0px #000000;
}

@layer theme {
  :root,
  :host {
    @variant dark {
      --color-text: #f3e2d8;
      --color-background: #130b06;
      --color-primary: #d15705;
      --color-secondary: #9b9c96;

      --shadow-sm: 2px 2px 0px 0px #e7c6b1;
      --shadow-md: 4px 4px 0px 2px #e7c6b1;
      --shadow-md: 4px 4px 0px 2px #e7c6b1;
    }
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Anon, monospace;
  }
}
